* {
    margin:0;
    padding:0;
    box-sizing: boarder box;
}

body {
    background: #066e7b;
}
nav {
background-color:rgb(233, 245, 241);
padding:32px 64px;
}

.navbar {
    display:flex;
    list-style-type:none;
    gap:12px;
    justify-content: end;
   
}

ul p:hover {
    text-decoration: none;
    color: rgb(99, 14, 14);
}
